@layer my-reset, starlight, obsidian, my-overrides;

@layer my-overrides {
  .tree {
    --sl-sidebar-item-padding-inline: 0.5rem;
    list-style: none;
    padding: 0;
    margin-left: 0;
  }

  .tree-node {
    overflow-wrap: anywhere;
    position: relative;
    font-size: var(--text-sm);
    margin-left: 0;
  }

  .tree-node:after {
    content: " ";
    display: block;
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0.5rem;
    left: -0rem;
    background-color: var(--sl-color-hairline-light);
  }

  .tree-node .tree-node {
    margin-inline-start: var(--sl-sidebar-item-padding-inline);
    border-inline-start: 1px solid var(--sl-color-hairline-light);
    /* padding-inline-start: var(--sl-sidebar-item-padding-inline); */
  }

  .tree-node a {
    display: block;
    text-decoration: none;
    color: var(--sl-color-gray-2);
    line-height: 0.5rem;
    padding: 0.25rem 0.5rem;
    height: 1rem;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  [aria-current="page"],
  [aria-current="page"]:hover,
  [aria-current="page"]:focus {
    color: var(--sl-color-text-accent);
  }

  .group {
    /*padding: 0 0.5rem;*/
    font-weight: bold;
    margin-left: 0.5rem;
    /*position: relative;*/
  }

  .tree summary {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    padding: 0;
    line-height: 1rem;
    cursor: pointer;
    user-select: none;
  }

  summary::marker,
  summary::-webkit-details-marker {
    display: none;
  }

  summary .label {
    flex: 1 1 90%;
  }

  summary .marker {
    flex: 0 0 0.5rem;
    transform: rotateZ(90deg);
    content: " ";
    display: block;
    /*position: absolute;*/
    /*left: -0.25rem;*/
    /*bottom: 0.25rem;*/
    width: 0.5rem;
    height: 0.5rem;
    transition: 100ms;
    background-size: 0.5rem;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZXZyb24tdXAtaWNvbiBsdWNpZGUtY2hldnJvbi11cCI+PHBhdGggZD0ibTE4IDE1LTYtNi02IDYiLz48L3N2Zz4=);
  }

  [open] > summary .marker {
    transform: rotateZ(180deg);
  }
}
