@layer my-reset, starlight, obsidian, my-overrides;

@layer my-overrides {
  .content-panel {
    padding: 0rem var(--sl-content-pad-x);
    margin-bottom: 1rem;
  }
  .content-panel + .content-panel {
    border-top: none;
  }
  .sl-container {
    max-width: var(--sl-content-width);
  }

  .sl-container > :global(* + *) {
    margin-top: unset;
  }

  .sl-container > * + * {
    margin-top: unset;
  }

  @media (min-width: 72rem) {
    .sl-container {
      margin-inline: var(--content-margin-inline, auto);
    }
  }

  .mobile-header {
    padding: 0 var(--content-pad-x);
  }

  @media (min-width: 50em) {
    .mobile-header {
      display: none;
      visibility: hidden;
    }
    .main-frame {
      padding-top: 0;
    }
    .main-pane {
      margin-top: 0;
    }
  }
  .sidebar-top {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--sl-color-bg-nav);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
  }
}
