@page {
  size: A4;
  margin: 25mm 20mm 20mm 20mm;

  @bottom-right {
    font-size: var(--text-sm);
    content: "Seite " counter(page) " von " counter(pages);
  }
}


@media print {
  html {
    font-size: 16px;
  }
  nav {
    display: none;
  }
}