.dc-explorer__tile {
  display: flex;
  flex-direction: column;
  position: relative;
}

.dc-explorer__tile::after {
  display: block;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: gray;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.dc-explorer__tile__header {
  flex: 0 0 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: var(--text-sm);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  position: relative;
}
.dc-explorer__tile__header::after {
  display: block;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: gray;
  position: absolute;
  bottom: 0;
  left: 0;
}

.dc-explorer__tile__title {
  flex: 1 0 75%;
  line-height: 1rem;

  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  padding: 0.25rem;

  text-overflow: ellipsis;
}
.dc-explorer__tile__actions {
  flex: 0 1 25%;
  line-height: 1rem;

  text-align: right;
}

.dc-explorer__tile__actions button {
  cursor: pointer;
  text-align: right;
  text-decoration: dotted;
  white-space: nowrap;
  font-size: var(--text-sm);
  height: 0.5rem;
  width: 100%;
  line-height: 0.5rem;

  align-items: center;
}

.dc-explorer__tile__actions .reset-all-action,
.dc-explorer__tile__actions .reset-action {
  opacity: 0;
  transition: opacity;
  transition-duration: 200ms;
}

.filtered .dc-explorer__tile__actions .reset-all-action,
.filtered .dc-explorer__tile__actions .reset-action {
  opacity: 1;
  transition: opacity;
  transition-duration: 200ms;
}

.dc-explorer__tile__body {
  background-color: rgba(0, 0, 0, 0.05);
  line-height: 0;
  font-family: "Barlow Condensed";

  padding: 0.25rem;
  overflow-y: scroll;
}

.dc-explorer__tile__body .explorer__chart--count p {
  line-height: 3rem;
  padding: 0 var(--content-pad-x);
  height: 3rem;
  font-size: var(--text-lg);
}

.main-count {
  font-weight: bold;
  font-size: var(--text-lg);
}
