.forest {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tree-node__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0.25rem 0;
}
.tree-node__cell {
  line-height: 0.5rem;
  padding: 0 0.25rem;
  height: 1rem;
  position: relative;
}

.tree-node__cell:after {
  display: block;
  content: " ";
  width: 100%;
  height: 1px;
  /* background-color: gray; */
  border-bottom: 1px dotted black;
  position: absolute;
  bottom: -0.25rem;
}

.tree-node[depth="0"] .tree-node__row > .tree-node__cell:nth-child(1) {
  flex: 0 0 calc(70ch - 0rem);
}
.tree-node[depth="1"] .tree-node__row > .tree-node__cell:nth-child(1) {
  flex: 0 0 calc(70ch - 0.5rem);
}
.tree-node[depth="2"] .tree-node__row > .tree-node__cell:nth-child(1) {
  flex: 0 0 calc(70ch - 1rem);
}
.tree-node[depth="3"] .tree-node__row > .tree-node__cell:nth-child(1) {
  flex: 0 0 calc(70ch - 1.5rem);
}
.tree-node[depth="4"] .tree-node__row > .tree-node__cell:nth-child(1) {
  flex: 0 0 calc(70ch - 2rem);
}
.tree-node[depth="5"] .tree-node__row > .tree-node__cell:nth-child(1) {
  flex: 0 0 calc(70ch - 2.5rem);
}
.tree-node[depth="6"] .tree-node__row > .tree-node__cell:nth-child(1) {
  flex: 0 0 calc(70ch - 3rem);
}
/* .tree-node__cell:nth-child(2) {
  flex: 1 0 30ch;
  
}
.tree-node__cell:nth-child(3) {
  flex: 0 0 8ch;
}
.tree-node__cell:nth-child(3) {
  flex: 0 0 12ch;
}
.tree-node__cell:nth-child(4) {
  flex: 0 0 12ch;
} */

.tree summary {
  cursor: pointer;
}

.tree summary:focus {
  outline: none;
}

.tree summary:focus-visible {
  outline: 1px dotted #000;
}
