@import "tailwindcss";

@import "./baseline.css";
@import "./my-overrides.grid-table.css";
@import "./my-overrides.table.css";
@import "./print.css";
/* @import "./my-overrides.typography.css"; */

@plugin "flowbite-typography";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;

  --kfb__blue: #2174a8;
  --kfb__red: #c53228;
  --kfb__yellow: #edc500;
  --kfb__green: #c53228;
  --kfb__gray: #757575;
  --kfb__gray--light: #eee;
  --kfb__gray--dark: #666;

  --font-sans:
    "Barlow Semi Condensed", "ui-sans-serif", "system-ui", "-apple-system", "system-ui", "Segoe UI",
    "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "sans-serif", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-body:
    "Barlow Semi Condensed", "ui-sans-serif", "system-ui", "-apple-system", "system-ui", "Segoe UI",
    "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "sans-serif", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono",
    "Courier New", "monospace";

  --line-height: 16px;
  --breakpoint-xs: 22.5rem;
  --breakpoint-2xl: 75rem;
  --breakpoint-3xl: 90rem;
  --spacing: 0.25rem;

  --text-2xs: 0.5rem;
  --text-xs: 0.6rem;
  --text-sm: 0.7rem;
  --text-base: 0.8rem;
  --text-lg: 1rem;
  --text-xl: 1.2rem;

  --color-text-gray: #999;

  --font-weight-normal: 300;
  --font-weight-bold: 500;

  --backgrond-color-letterhead: #eee;
}

html {
  --color-kfb-blue: #2174a8;
  --color-kfb-red: #c53228;
  --color-kfb-yellow: #edc500;
  --color-kfb-green: #c53228;
  --color-kfb-gray: #757575;
  --color-kfb-gray--light: #eee;
  --color-kfb-gray--dark: #666;
  font-size: var(--line-height);
}

.text-base {
  font-size: var(--text-base);
  @apply baseline-1/1;
}
