@layer my-overrides {
  table,
  td,
  th {
    font-family: "Barlow Condensed";
    font-size: var(--text-sm);

    margin: 0;
    padding: 0;

    border-collapse: collapse;
    border-spacing: 0;
  }
  table {
    background-color: rgba(0, 0, 0, 0.01);
    table-layout: fixed;
  }

  tr {
    height: auto;

    position: relative;
  }

  tr:after {
    display: block;

    height: 1px;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;

    content: " ";

    background-image: linear-gradient(90deg, #ffffff 25%, #666666 25%, #666666 50%, #ffffff 50%, #ffffff 75%, #666666 75%, #666666 100%);
    background-size: 4px 4px;
  }

  th,
  td {
    padding: 0 0.25rem;

    text-align: left;
    vertical-align: baseline;
    white-space: nowrap;
    line-height: 1rem;
  }
  thead th {
    text-transform: uppercase;
    font-size: var(--text-sm);
    color: gray;
  }

  tbody th {
    font-size: var(--text-sm);
    font-weight: normal;
    color: gray;
  }

  [data-gender-icon] {
    position: relative;
    visibility: hidden;
  }

  [data-gender-icon]::after {
    display: inline-block;

    height: 1rem;
    width: 1rem;

    position: absolute;
    top: 0;
    left: 0;

    visibility: visible;
    content: " ";
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-venus-and-mars-icon lucide-venus-and-mars'%3E%3Cpath d='M10 20h4'/%3E%3Cpath d='M12 16v6'/%3E%3Cpath d='M17 2h4v4'/%3E%3Cpath d='m21 2-5.46 5.46'/%3E%3Ccircle cx='12' cy='11' r='5'/%3E%3C/svg%3E"); */
    background-size: 0.5rem;
    background-repeat: no-repeat;
  }

  [data-gender-icon="male"]::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-mars-icon lucide-mars'%3E%3Cpath d='M16 3h5v5'/%3E%3Cpath d='m21 3-6.75 6.75'/%3E%3Ccircle cx='10' cy='14' r='6'/%3E%3C/svg%3E");
  }

  [data-gender-icon="female"]::after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXZlbnVzLWljb24gbHVjaWRlLXZlbnVzIj48cGF0aCBkPSJNMTIgMTV2NyIvPjxwYXRoIGQ9Ik05IDE5aDYiLz48Y2lyY2xlIGN4PSIxMiIgY3k9IjkiIHI9IjYiLz48L3N2Zz4=");
  }

  .number {
    font-variant-numeric: tabular-nums;
    text-align: right;
  }

  td.truncable > div {
    /* height: 1rem; */

    white-space: nowrap;
    text-overflow: ellipsis;
  }

  th.sortable {
    cursor: pointer;
  }
  th.sortable .sort-state {
    display: inline-block;

    height: 0.4rem;
    width: 0.5rem;

    margin-left: 0.25rem;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFycm93LWRvd24tdXAtaWNvbiBsdWNpZGUtYXJyb3ctZG93bi11cCI+PHBhdGggZD0ibTMgMTYgNCA0IDQtNCIvPjxwYXRoIGQ9Ik03IDIwVjQiLz48cGF0aCBkPSJtMjEgOC00LTQtNCA0Ii8+PHBhdGggZD0iTTE3IDR2MTYiLz48L3N2Zz4=);
    background-size: 0.4rem;
    background-repeat: no-repeat;
  }

  th.sortable[data-sort="ascending"] .sort-state {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFycm93LWRvd24tbmFycm93LXdpZGUtaWNvbiBsdWNpZGUtYXJyb3ctZG93bi1uYXJyb3ctd2lkZSI+PHBhdGggZD0ibTMgMTYgNCA0IDQtNCIvPjxwYXRoIGQ9Ik03IDIwVjQiLz48cGF0aCBkPSJNMTEgNGg0Ii8+PHBhdGggZD0iTTExIDhoNyIvPjxwYXRoIGQ9Ik0xMSAxMmgxMCIvPjwvc3ZnPg==);
  }
  th.sortable[data-sort="descending"] .sort-state {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFycm93LXVwLXdpZGUtbmFycm93LWljb24gbHVjaWRlLWFycm93LXVwLXdpZGUtbmFycm93Ij48cGF0aCBkPSJtMyA4IDQtNCA0IDQiLz48cGF0aCBkPSJNNyA0djE2Ii8+PHBhdGggZD0iTTExIDEyaDEwIi8+PHBhdGggZD0iTTExIDE2aDciLz48cGF0aCBkPSJNMTEgMjBoNCIvPjwvc3ZnPg==);
  }

  .property-table {
    margin: 0.5rem -0.25rem;
  }
  .property-table tbody tr th {
    background-color: #dddddd;
    width: 30ch;
  }
  .property-table tbody tr th:nth-child(2) {
    background-color: #eeeeee;
    width: 5ch;
  }

  .property-table tbody tr td {
    width: 100%;
    white-space: break-spaces;
    line-height: 0.75rem;
  }
}
