@layer my-overrides {
  .grid-table,
  .grid-table td,
  .grid-table th {
    border-spacing: 0;
    line-height: 1rem;

  }
  .grid-table {
    display: grid;

    font-size: var(--text-sm);

    margin: 0 !important;
    padding: 0 !important;

    /*border-collapse: collapse;*/
    /*min-width: 100%;*/
    grid-auto-rows: calc(1rem);
    grid-template-columns: repeat(5, minmax(10px, 1fr));
    row-gap: 1px;
    /*background-image: linear-gradient(*/
    /*  90deg,*/
    /*  #ffffff 25%,*/
    /*  #666666 25%,*/
    /*  #666666 50%,*/
    /*  #ffffff 50%,*/
    /*  #ffffff 75%,*/
    /*  #666666 75%,*/
    /*  #666666 100%*/
    /*);*/
    /*background-size: 4px 4px;*/
    background-color: var(--color-kfb-gray--light);
  }

  .grid-table thead,
  .grid-table tbody,
  .grid-table tr {
    display: contents;

    position: relative;
  }

  /*tr::after {*/
  /*  display: block;*/

  /*  height: 1px;*/
  /*  width: 100%;*/

  /*  position: absolute;*/
  /*  bottom: -1px;*/

  /*  content: " ";*/

  /*  background-image: linear-gradient(*/
  /*    90deg,*/
  /*    #ffffff 25%,*/
  /*    #666666 25%,*/
  /*    #666666 50%,*/
  /*    #ffffff 50%,*/
  /*    #ffffff 75%,*/
  /*    #666666 75%,*/
  /*    #666666 100%*/
  /*  );*/
  /*  background-size: 4px 4px;*/
  /*}*/

  .grid-table th,
  .grid-table td {
    background-color: white;

    padding: 0 0.25rem;

    position: relative;
    overflow: hidden;

    vertical-align: middle;

    justify-content: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: start;
  }
}


.grid-table .sortable {
  cursor: pointer;
}
