@layer my-overrides {
  .grid-table,
  .grid-table td,
  .grid-table th {
    border-spacing: 0;
  }
  .grid-table {
    display: grid;

    margin: 0 !important;
    padding: 0 !important;

    grid-auto-rows: calc(1.5rem - 1px);
    grid-template-columns: repeat(5, minmax(10px, 1fr));
    row-gap: 1px;
    justify-content: stretch;
    align-items: center;

    background-color: var(--color-kfb-gray--light);
  }

  .grid-table thead,
  .grid-table tbody,
  .grid-table tr {
    display: contents;
    position: relative;
  }

  .grid-table th,
  .grid-table td {
    font-size: var(--text-base);
    background-color: white;
    height: 100%;
    padding: 0 0.5rem;

    position: relative;
    overflow: hidden;

    justify-content: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: start;
  }
}

.grid-table .sortable {
  cursor: pointer;
}
