@page {
  margin: 25mm 15mm 20mm 15mm;
  size: A4;

  @bottom-right {
    font-size: var(--text-sm);
    content: "Seite " counter(page) " von " counter(pages);
  }
}

@media print {
  #main-content {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
  html {
    font-size: 16px;
  }
  @media print {
    thead .member-icon {
      display: none !important;
    }
  }

  #main-content footer,
  nav {
    display: none;
  }
}
